*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #153677, #4e085f );
}

.todo-list{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0 0 30px #61b6e4;
}

h2{
    color: #002765;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
}
h2 img{
    width: 50px;
    position: absolute;
    right: 0;
    width: 40px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove #000;
    outline-offset: 5px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #5d5e5d;
    
}

input{
    flex: 1;
    border: none;
    outline: #002765;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
}

input::placeholder{
    color: #1e008d;
}

button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #26062f;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px;
}

ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(Assets/unchecked.png);
    background-size: cover;
    position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    background: #3700a4;
    color: #fff;
    border-radius: 50px;
}

ul li.checked::before{
    background: url(Assets/checked.png);
    background-size: cover;
}

ul li span{
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 50px;
}

ul li span:hover{
    background: black;
    color: white;
}

ul li.checked span{
    color: #fff;
}

ul li.checked span{
    background: #fff;
    color: #000;
}